.filter__length {
  width: 26px;
  height: 26px;
  background: rgb(173, 97, 255);
  border-radius: 50px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  padding: 6px;
  position: absolute;
  top: -6px;
  right: -6px;
}
