.filter__content {
  height: max-content;
  max-height: 305px;
  width: max-content;
  max-width: 248px;
  padding: 34px;
  border-radius: 12px;
  background: rgb(49, 49, 49);
  position: absolute;
  left: 0;
}

.filter__list {
  width: max-content;
  max-width: 180px;
  height: max-content;
  max-height: 237px;
  color: white;
  display: flex;
  gap: 28px;
  overflow-y: auto;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
}

.filter__track {
  font-size: 20px;

  &:hover {
    color: rgb(182, 114, 255);
    text-decoration: underline;
    cursor: pointer;
  }

  &:focus {
    color: rgb(182, 114, 255);
    text-decoration: underline;
    cursor: pointer;
  }
}
